@model WebGarage.Classes.Stats

@{
    ViewBag.Title = "Stats";
}

<h2>Stats</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Cars: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car)
        </dd>

        <dt>
            Trucks:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Truck)
        </dd>

        <dt>
            Boats:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Boat)
        </dd>

        <dt>
            Airplanes:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirPlane)
        </dd>

        <dt>
            Bicycles:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bicycle)
        </dd>

        <dt>
            Motorcycles:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motorcycle)
        </dd>

        <dt>
            Others:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Other)
        </dd>

        <dt>
            Total Vehicles:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt>
            Total Wheels:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalNumberOfWheels)
        </dd>

        <dt>
            Total Price:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice) $
        </dd>
        <dt>
            Total Minutes:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalTimeInMinutes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to Admin", "Admin", "Home")
</p>
