@model IEnumerable<WebGarage.Models.ParkingSpace>

@{
    ViewBag.Title = "Home Page";

    var lot = 1;
}
 
<div class="row">
    <div class="col-md-6">
        <h2>Park Vehicle</h2>
        <p>Parking is the act of stopping and disengaging a vehicle and leaving it unoccupied. Total Free Parking slots: @ViewBag.FreeParkingSlots</p>
        <p>@Html.ActionLink("Park your vehicle", "ParkVehicle", "Customer", new object { }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-6">
        <h2>Check out Vehicle</h2>
        <p>When it is time to pick up your vehicle, please have the registration number ready.</p>
        <p>@Html.ActionLink("Check out your vehicle", "CheckoutVehicle", "Customer", new object { }, new { @class = "btn btn-default" })</p>
    </div>
</div>

<div class="row">
    <div class="col-md-md-4 col-md-push-4">
        <h2>Free Parking Places</h2>
        <p>
            <table class="table">
                <tbody>
                    <tr>
                                           
                    @foreach (var parkingSpace in Model)
                    {
                        if (parkingSpace.Vehicle == null)
                        {
                            <td class="success">
                                Lot<br /> #@lot
                            </td>
                        }
                        else
                        {
                            <td class="danger">
                                @parkingSpace.Vehicle.RegistrationNumber <br /> &nbsp;
                            </td>
                        }

                        lot++;

                        if (parkingSpace.Edge)
                        {
                            @Html.Raw("</tr><tr>")
                        }
                    }

                    </tr>
                </tbody>
            </table>
        </p>
    </div>
</div>